.card {
  padding: 10px;
  margin: 10px;
}

.form-control {
  //display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    //display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  textarea, input {
    //display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-bottom: 0;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    &.ng-valid.ng-touched {
      border: 1px solid green;
    }
  }

  textarea {
    height: 200px;
    resize: none;
  }

  .validation {
    color: red;
  }
}
