<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Добавить заметку</h1>

  <div class="form-control">
    <label>Заголовок</label>
    <input type="text" placeholder="Введите заголовок.." formControlName="title">

    <div
      *ngIf="form.get('title').invalid && form.get('title').touched"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Поле Заголовок не может быть пустым
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Текст</label>
    <textarea  placeholder="Введите текст.." formControlName="text"></textarea>
    <div
      *ngIf="form.get('text').invalid && form.get('text').touched"
      class="validation"
    >
      <small *ngIf="form.get('text').errors.required">
        Текст не может быть пустым
      </small>
    </div>
  </div>
  <button class="form-control__button btn" type="submit" [disabled]="form.invalid || form.pending">Добавить</button>
</form>
